
/*
 * Example slurm config file
*/
executor {
    name = "slurm"
    queueSize = 50
    queueGlobalStatus = true
    submitRateLimit = "10 sec"
    pollInterval = "10 sec"

}

conda.enabled = false

singularity {
    enabled = true
    autoMounts = true
    cacheDir = ""
    registry = "quay.io"
}

// https://www.nextflow.io/docs/latest/config.html#miscellaneous
// On a successful completion of a run all files in work directory are automatically deleted.
//cleanup = true

/********************************************/
/**       EMBL-EBI Fire S3 settings       **/
/********************************************/
aws {
    client {
        anonymous = true
        endpoint = 'https://hl.fire.sdo.ebi.ac.uk'
        s3PathStyleAccess = true
        signerOverride = "S3SignerType"
    }
}

params {

    // BOLD database
    bold_db_fasta = "reference_databases/bold_coi_06-Mar_2026.fasta"
    bold_db_tax = "reference_databases/bold_coi_06-Mar_2026_taxonomy.txt"
    bold_db_mscluster = "reference_databases/bold_coi_06-Mar_2026.fasta.mscluster"
    dada2_bold_label = "DADA2-BOLD"

    // MIDORI2 database
    midori_db_fasta = "reference_databases/midori_coi_gb269.fasta"
    midori_db_tax = "reference_databases/midori_coi_gb269_taxonomy.txt"
    midori_db_mscluster = "reference_databases/midori_coi_gb269.fasta.mscluster"
    dada2_midori_label = "DADA2-MIDORI"

    // Standard primer library
    std_primer_library = "pimento_primers/"

    // COI hmm model
    pfam_coi_db = "pfam_db/COX1_only.hmm"

}
