
/*
 * Example slurm config file
*/
executor {
    name = "slurm"
    queueSize = 50
    queueGlobalStatus = true
    submitRateLimit = "10 sec"
    pollInterval = "10 sec"

}

conda.enabled = false

singularity {
    enabled = true
    autoMounts = true
    cacheDir = ""
    registry = "quay.io"
}

// https://www.nextflow.io/docs/latest/config.html#miscellaneous
// On a successful completion of a run all files in work directory are automatically deleted.
//cleanup = true

/********************************************/
/**       EMBL-EBI Fire S3 settings       **/
/********************************************/
aws {
    client {
        anonymous = true
        endpoint = 'https://hl.fire.sdo.ebi.ac.uk'
        s3PathStyleAccess = true
        signerOverride = "S3SignerType"
    }
}

params {

    // BOLD database
    run_coi_bold = true

    coi_bold_ref_db = "reference_databases/BOLD_COI_vsearch.udb"
    bold_label = "BOLD"

    // MIDORI2 database
    run_coi_midori = true

    coi_midori2_ref_db = "reference_databases/MIDORI2_COI_vsearch.udb"
    midori2_label = "MIDORI2"

    // Standard primer library
    std_primer_library = "pimento_primers/"
    cutadapt_primers = "cutadapt_primers/"

    // COI hmm model
    pfam_coi_db = "pfam_db/COI.hmm"

}
