/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: SEQFU_CHECK {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/qc/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.tsv",
                saveAs: {"${meta.id}_seqfu.tsv"}
            ]
        ]
    }

    withName: FASTQSUFFIXHEADERCHECK {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/qc/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.json"
            ]
        ]
    }

    withName: "ENVIDENT:READS_QC_BEFOREHMM:FASTP" {
        ext.prefix = { "${meta.id}_beforehmm" }
    }
    
    withName: SEQTK_SEQ {
        ext.args = '-a'
    }

    withName: "ENVIDENT:READS_QC:FASTP" {
        ext.args = [
            '--cut_front_window_size 1',   // Equivalent of Trimmomatic LEADING window size
            '--cut_tail_window_size 1',    // Equivalent of Trimmomatic TRAILING window size
            '--cut_front 3',               // Equivalent of Trimmomatic LEADING quality threshold (3)
            '--cut_tail 3',                // Equivalent of Trimmomatic TRAILING quality threshold (3)
            '--cut_right',                 // Equivalent of Trimmomatic SLIDINGWINDOW
            '--cut_right_window_size 4',   // Equivalent of Trimmomatic SLIDINGWINDOW window size (4)
            '--cut_right_mean_quality 15', // Equivalent of Trimmomatic SLIDINGWINDOW mean quality (15)
            '-l 100'                       // Filter out reads smaller than 100 bases
        ].join(' ');

        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/qc/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: '*.fastp.json'
            ]
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: PREP_CUTADAPT_PRIMERS {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/primer-identification/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.fasta"
            ]
        ]
    }

    withName: EXTRACT_CUTADAPT_PRIMERS {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/primer-identification/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.fasta"
            ]
        ]
    }

     withName: CUTADAPT {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/primer-identification/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.json"
            ]
        ]
    }

    withName: HMMER_HMMSEARCH {
        ext.args = "--incE 0.01 --incdomE 0.01 -E 0.1 --domE 0.1"
    }

    withName: COMBINEHMMSEARCHTBL {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/hmmsearch-COI/" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if(filename.contains('.domtbl')){
                    return "${meta.id}_Pfam-A.domtbl"
                }
            },
        ]
    }

    withName: PARSEHMMSEARCHCOVERAGE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/hmmsearch-COI/" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if(filename.contains('.tsv')){
                    return "${meta.id}_Pfam-A.txt"
                }
            },
        ]
    }

    withName: SEQKIT_TRANSLATE {
        ext.args = "--append-frame --allow-unknown-codon --frame 6 --out-subseqs --min-len 15"
    }

    withName: DADA2 {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/qc/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*dada2_errors.txt"
            ],
            [
                path: { "${params.outdir}/${meta.id}/asv/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*dada2_stats.tsv"
            ],
            [
                path: { "${params.outdir}/${meta.id}/asv/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "{*_asvs.fasta,*_asv_counts.tsv}"
            ]
        ]
    }

    withName: "ENVIDENT:VSEARCH_ASV_KRONA_BOLD:VSEARCH" {
        
        ext.db_label = "${params.bold_label}"
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/taxonomy-summary/${task.ext.db_label}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.tsv",
                saveAs: { "${meta.id}_${task.ext.db_label}_vsearch_raw_hits.tsv" }
            ]
        ]
        ext.args = '--query_cov 0.9 --strand both --maxaccepts 50000 --maxrejects 1000 --maxhits 1000 --output_no_hits'
    }

    withName: "ENVIDENT:VSEARCH_ASV_KRONA_MIDORI:VSEARCH" {
        
        ext.db_label = "${params.midori_label}"
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/taxonomy-summary/${task.ext.db_label}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.tsv",
                saveAs: { "${meta.id}_${task.ext.db_label}_vsearch_raw_hits.tsv" }
            ]
        ]
        ext.args = '--query_cov 0.9 --strand both --maxaccepts 50000 --maxrejects 1000 --maxhits 1000 --output_no_hits'
    }

    withName: 'ENVIDENT:VSEARCH_ASV_KRONA_BOLD:FORMAT_VSEARCH_(LCA|CLEAN)' {
        ext.db_label = "${params.bold_label}"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxonomy-summary/${task.ext.db_label}" },
            mode: params.publish_dir_mode,
            failOnError: true,
            pattern: '*_formatted.tsv',
            saveAs: { filename ->
                def description = filename.endsWith('_lca_formatted.tsv') ? 'vsearch_hits_for_lca' : 'vsearch_hits_with_accessions'
                "${meta.id}_${task.ext.db_label}_${description}.tsv"
            }
        ]
    }

    withName: 'ENVIDENT:VSEARCH_ASV_KRONA_MIDORI:FORMAT_VSEARCH_(LCA|CLEAN)' {
        ext.db_label = "${params.midori_label}"
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxonomy-summary/${task.ext.db_label}" },
            mode: params.publish_dir_mode,
            failOnError: true,
            pattern: '*_formatted.tsv',
            saveAs: { filename ->
                def description = filename.endsWith('_lca_formatted.tsv') ? 'vsearch_hits_for_lca' : 'vsearch_hits_with_accessions'
                "${meta.id}_${task.ext.db_label}_${description}.tsv"
            }
        ]
    }

    withName: '.*:KRONA_ALL' {
        ext.prefix = { "${meta.id}_lca_all" }
    }
    withName: '.*:KRONA_TOP' {
        ext.prefix = { "${meta.id}_lca_top" }
    }

    withName: 'ENVIDENT:VSEARCH_ASV_KRONA_BOLD:(LCA|LCA_KRONA_COUNTS|KRONA_ALL|KRONA_TOP)' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxonomy-summary/${params.bold_label}" },
            mode: params.publish_dir_mode,
            failOnError: true,
            pattern: '*.{tsv,txt,html}',
            saveAs: { filename ->
                def method = filename.startsWith("${meta.id}_lca_all") ? 'all_hits' : 'top_hits'
                def description = filename.endsWith('.html') ? "krona_lca_${method}.html" :
                    filename.endsWith('_krona_counts.txt') ? "krona_lca_${method}_counts.tsv" :
                    "taxonomy_lca_${method}.tsv"
                "${meta.id}_${params.bold_label}_${description}"
            }
        ]
    }

    withName: 'ENVIDENT:VSEARCH_ASV_KRONA_MIDORI:(LCA|LCA_KRONA_COUNTS|KRONA_ALL|KRONA_TOP)' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/taxonomy-summary/${params.midori_label}" },
            mode: params.publish_dir_mode,
            failOnError: true,
            pattern: '*.{tsv,txt,html}',
            saveAs: { filename ->
                def method = filename.startsWith("${meta.id}_lca_all") ? 'all_hits' : 'top_hits'
                def description = filename.endsWith('.html') ? "krona_lca_${method}.html" :
                    filename.endsWith('_krona_counts.txt') ? "krona_lca_${method}_counts.tsv" :
                    "taxonomy_lca_${method}.tsv"
                "${meta.id}_${params.midori_label}_${description}"
            }
        ]
    }

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            [
                path: "${params.outdir}",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*multiqc_report.html",
                saveAs: { filename ->
                    filename.equals('versions.yml') ? null : filename
                }
            ]
        ]
    }    
    
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
