/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: SEQFU_CHECK {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/qc/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.tsv",
                saveAs: {"${meta.id}_seqfu.tsv"}
            ]
        ]
    }

    withName: FASTQSUFFIXHEADERCHECK {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/qc/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.json"
            ]
        ]
    }

    withName: "ENVIDENT:READS_QC_BEFOREHMM:FASTP" {
        ext.prefix = { "${meta.id}_beforehmm" }
    }
    
    withName: SEQTK_SEQ {
        ext.args = '-a'
    }

    withName: "ENVIDENT:READS_QC:FASTP" {
        ext.args = [
            '--cut_front_window_size 1',   // Equivalent of Trimmomatic LEADING window size
            '--cut_tail_window_size 1',    // Equivalent of Trimmomatic TRAILING window size
            '--cut_front 3',               // Equivalent of Trimmomatic LEADING quality threshold (3)
            '--cut_tail 3',                // Equivalent of Trimmomatic TRAILING quality threshold (3)
            '--cut_right',                 // Equivalent of Trimmomatic SLIDINGWINDOW
            '--cut_right_window_size 4',   // Equivalent of Trimmomatic SLIDINGWINDOW window size (4)
            '--cut_right_mean_quality 15', // Equivalent of Trimmomatic SLIDINGWINDOW mean quality (15)
            '-l 100'                       // Filter out reads smaller than 100 bases
        ].join(' ');
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

     withName: CUTADAPT {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/primer-identification/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.json"
            ]
        ]
    }

    withName: HMMER_HMMSEARCH {
        ext.args = "--incE 0.01 --incdomE 0.01 -E 0.1 --domE 0.1"
    }

    withName: COMBINEHMMSEARCHTBL {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/hmmsearch-COI/" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if(filename.contains('.domtbl')){
                    return "${meta.id}_Pfam-A.domtbl"
                }
            },
        ]
    }

    withName: PARSEHMMSEARCHCOVERAGE {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/hmmsearch-COI/" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if(filename.contains('.tsv')){
                    return "${meta.id}_Pfam-A.txt"
                }
            },
        ]
    }

    withName: SEQKIT_TRANSLATE {
        ext.args = "--append-frame --allow-unknown-codon --frame 6 --out-subseqs --min-len 15"
    }

    withName: DADA2 {
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/qc/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*dada2_errors.txt"
            ],
            [
                path: { "${params.outdir}/${meta.id}/asv/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*dada2_stats.tsv"
            ],
            [
                path: { "${params.outdir}/${meta.id}/asv/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*_asvs.fasta"
            ]
        ]
    }


    withName: "ENVIDENT:MAPSEQ_ASV_KRONA_BOLD:MAPSEQ" {
        
        ext.db_label = "${params.dada2_bold_label}"
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/taxonomy-summary/${task.ext.db_label}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.mseq",
                saveAs: { "${meta.id}_${task.ext.db_label}.mseq" }
            ]
        ]
        ext.args = '-tophits 80 -topotus 40 -outfmt \'simple\''
    }

    withName: "ENVIDENT:MAPSEQ_ASV_KRONA_MIDORI:MAPSEQ" {
        
        ext.db_label = "${params.dada2_midori_label}"
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/taxonomy-summary/${task.ext.db_label}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.mseq",
                saveAs: { "${meta.id}_${task.ext.db_label}.mseq" }
            ]
        ]
        ext.args = '-tophits 80 -topotus 40 -outfmt \'simple\''
    }

    withName: "ENVIDENT:MAPSEQ_ASV_KRONA_MIDORI:MAPSEQ2ASVTABLE" {
        ext.db_label = "${params.dada2_midori_label}"
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/taxonomy-summary/${task.ext.db_label}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*_asv_taxa.tsv"
            ]
        ]
    }

    withName: "ENVIDENT:MAPSEQ_ASV_KRONA_BOLD:MAPSEQ2ASVTABLE" {
        ext.db_label = "${params.dada2_bold_label}"
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/taxonomy-summary/${task.ext.db_label}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*_asv_taxa.tsv"
            ]
        ]
    }

    withName: "ENVIDENT:MAPSEQ_ASV_KRONA_BOLD:MAKE_ASV_COUNT_TABLES" {
        ext.db_label = "${params.dada2_bold_label}"
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/taxonomy-summary/${task.ext.db_label}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*asv_krona_counts.txt",
                saveAs: { "${meta.id}_${task.ext.db_label}_asv_krona_counts.txt" }
            ],
            [
                path: { "${params.outdir}/${meta.id}/asv/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*asv_read_counts.tsv"
            ]
        ]
    }

        withName: "ENVIDENT:MAPSEQ_ASV_KRONA_MIDORI:MAKE_ASV_COUNT_TABLES" {
        ext.db_label = "${params.dada2_midori_label}"
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/taxonomy-summary/${task.ext.db_label}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*asv_krona_counts.txt",
                saveAs: { "${meta.id}_${task.ext.db_label}_asv_krona_counts.txt" }
            ],
            [
                path: { "${params.outdir}/${meta.id}/asv/" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*asv_read_counts.tsv"
            ]
        ]
    }

    withName: "ENVIDENT:MAPSEQ_ASV_KRONA_BOLD:KRONA_KTIMPORTTEXT" {
        ext.db_label = "${params.dada2_bold_label}"
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/taxonomy-summary/${task.ext.db_label}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.html",
                saveAs: { "${meta.id}_${task.ext.db_label}.html" }
            ]
        ]
    }

    withName: "ENVIDENT:MAPSEQ_ASV_KRONA_MIDORI:KRONA_KTIMPORTTEXT" {
        ext.db_label = "${params.dada2_midori_label}"
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/taxonomy-summary/${task.ext.db_label}" },
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*.html",
                saveAs: { "${meta.id}_${task.ext.db_label}.html" }
            ]
        ]
    }

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            [
                path: "${params.outdir}",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "*multiqc_report.html",
                saveAs: { filename ->
                    filename.equals('versions.yml') ? null : filename
                }
            ]
        ]
    }    
    
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
