/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run EBI-Metagenomics/envident -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '6.GB',
        time: '1.h'
    ]

    withName: 'ENVIDENT:READS_QC:FASTP' {
        cpus = 4
        memory = 12.GB
        maxForks = 1
    }

    withName: 'ENVIDENT:READS_QC_BEFOREHMM:FASTP' {
        cpus = 4
        memory =12.GB
        maxForks = 1
    }
}

params {
    min_read_count = 10
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
}
