
/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store the paths/labels to the different reference databases
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    run_coi_bold = true
    run_coi_midori2 = true

    coi_bold_ref_db = "${projectDir}/assets/test-fixtures/test-ref-dbs/COI.fasta"
    coi_midori2_ref_db = "${projectDir}/assets/test-fixtures/test-ref-dbs/COI.fasta"
    bold_label = "BOLD"
    midori2_label = "MIDORI2"

    pfam_coi_db = "${projectDir}/assets/test-fixtures/test-ref-dbs/COI.hmm"
    std_primer_library = "${projectDir}/assets/test-fixtures/test-ref-dbs/standard_primers"
    cutadapt_primers = "${projectDir}/assets/test-fixtures/test-ref-dbs/cutadapt_primers"

}


