
/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store the paths/labels to the different reference databases
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    bold_db_fasta = "${projectDir}/assets/test-fixtures/test-ref-dbs/COI.fasta"
    bold_db_tax = "${projectDir}/assets/test-fixtures/test-ref-dbs/COI.tax"
    bold_db_mscluster = "${projectDir}/assets/test-fixtures/test-ref-dbs/COI.fasta.mscluster"
    dada2_bold_label = "DADA2-BOLD"

    midori_db_fasta = "${projectDir}/assets/test-fixtures/test-ref-dbs/COI.fasta"
    midori_db_tax = "${projectDir}/assets/test-fixtures/test-ref-dbs/COI.tax"
    midori_db_mscluster = "${projectDir}/assets/test-fixtures/test-ref-dbs/COI.fasta.mscluster"
    dada2_midori_label = "DADA2-MIDORI"

    pfam_coi_db = "${projectDir}/assets/test-fixtures/test-ref-dbs/COI.hmm"
    std_primer_library = "${projectDir}/assets/test-fixtures/test-ref-dbs/standard_primers"
    cutadapt_primers = "${projectDir}/assets/test-fixtures/test-ref-dbs/cutadapt_primers"

}


