
/*
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Config to store the paths/labels to the different reference databases
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    COI_bold_ref_db = "${projectDir}/assets/test-fixtures/test-ref-dbs/COI.fasta"
    COI_midori_ref_db = "${projectDir}/assets/test-fixtures/test-ref-dbs/COI.fasta"
    bold_label = "BOLD"
    midori_label = "MIDORI"

    pfam_coi_db = "${projectDir}/assets/test-fixtures/test-ref-dbs/COI.hmm"
    std_primer_library = "${projectDir}/assets/test-fixtures/test-ref-dbs/standard_primers"
    cutadapt_primers = "${projectDir}/assets/test-fixtures/test-ref-dbs/cutadapt_primers"

}


